<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">Registration successful. Please check email for verification code and enter the below information:</div>
                <form class="form-signup" id="form" action="/verify" method="POST">
                    <div class="form-label-group">
                        <input type="email" name="email" id="inputEmail" class="form-control"
                            placeholder="email" required autofocus>
                        <label for="inputEmail">Email</label>
                    </div>

                    <div class="form-label-group">
                        <input id="inputKey" name="key" class="form-control" placeholder="Validation Key"
                            required autofocus>
                        <label for="inputKey">Validation Key</label>
                    </div>

                    <!-- <div class="form-label-group">
                        <input type="password" name="password" id="inputPassword" class="form-control"
                            placeholder="password" required>
                        <label for="inputPassword">Password</label>
                    </div> -->

                    <button class="btn btn-lg btn-primary btn-block text-uppercase"
                        type="submit">Submit</button>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>