<% include ../partials/header %>

<div id="root">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#">Features</a> -->
                        <form id="searchBar" method="POST" action="/search">
                            <input type="text" name="id" placeholder="id">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">&nbsp &nbsp &nbsp &nbsp</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" id="logoutbtn" href="#">Logout</a> -->
                        <button id="logoutBtn" type="button" class="btn btn-primary">LOG OUT</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="welcome" style="font-size: 2em;">
        <%= username %>'s home page
    </div>

    <form class="homeForm" id="postTweet" method="POST" action="/additem">
        <input type="text" name="content" placeholder="tweet">
        <button type="submit">Post Tweet</button>
    </form>

    <form class="homeForm" id="deleteTweet" method="DELETE" action="/additem">
        <input type="text" name="content" placeholder="tweet">
        <button type="submit">Delete Tweet</button>
    </form>

    <form class="homeForm" id="searchBarId" method="GET" action="/id">
        <input type="text" name="id" placeholder="id">
        <button type="submit">Search by id</button>
    </form>

    <br>

    <form class="homeForm" id="userSearch" method="GET" action="/info">
    <input type="text" name="username" placeholder="username">
    <button type="submit">Search for User</button>
    </form>

    <br>
    <form class="homeForm" id="searchBar1" method="POST" action="/search">
        <input type="text" name="timestamp" placeholder="timestamp">
        <input type="text" name="limit" placeholder="limit">
        <input type="text" name="q" placeholder="search query">
        <input type="text" name="username" placeholder="username">
        <input type="checkbox" name="following" id="cbox">
        <label for="cbox">Include people you're not following?</label>
        <button type="submit">Search</button>
    </form>

    <ul id="posts"></ul>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    $("#logoutBtn").click((e) => {
        console.log($("#logoutBtn"));
        $.ajax({
            url: '/logout',
            type: 'POST',
            success: (response) => {
                console.log("Logged out");
                window.location.href = "/";
            }
        });
    });


    console.log($("#searchBar1"));
    $("#searchBar1").submit((e) => {
        e.preventDefault();
        let dat = $("#searchBar1").serializeArray();
        console.log(dat);
        if (dat.length > 4 && dat[4].value === 'on') dat[4].value = false;
        else dat.push({name:"following", value:true});
        console.log();
        $.ajax({
            type: 'POST',
            url: '/search',
            data: dat,
            dataType: 'json',
            success: (response) => {
                console.log("SUCCESS " + response);
                let items = response.items;
                let posts = document.getElementById("posts");
                while (posts.hasChildNodes()) {
                    posts.removeChild(posts.lastChild);
                }
                if (!items || items.length === 0) {
                    let div = document.createElement('div');
                    div.className = 'tweet';
                    div.style.color = 'red'
                    div.innerHTML = "No tweets found with given timestamp/limit.";
                    posts.appendChild(div);
                    return;
                }
                for (let i = 0; i < items.length; i++) {
                    console.log(items[i].content);
                    let div = document.createElement('div');
                    div.className = 'tweet';
                    div.innerHTML = items[i].content + "<br>Author: " + items[i].username + "<br>Likes: " + items[i].property.likes + "<br>Retweets: " + items[i].retweeted + "<br>Timestamp: " + items[i].timestamp;
                    div.style.border = "10px solid blue";
                    posts.appendChild(div);
                }
            }
        });
    });

    // $("#searchBar1").submit((e) => {
    //     e.preventDefault();
    //     console.log(e + " inside searchbar");
    //     $.ajax({
    //         type: 'POST',
    //         url: '/search',
    //         data: $("#searchBar1").serialize(),
    //         dataType: 'json',
    //         success: (response) => {
    //             console.log("SUCCESS " + response);
    //             let items = response.items;
    //             let posts = document.getElementById("posts");
    //             while (posts.hasChildNodes()) {
    //                 posts.removeChild(posts.lastChild);
    //             }
    //             if (!items || items.length === 0) {
    //                 let div = document.createElement('div');
    //                 div.className = 'tweet';
    //                 div.style.color = 'red'
    //                 div.innerHTML = "No tweets found with given timestamp/limit.";
    //                 posts.appendChild(div);
    //                 return;
    //             }
    //             for (let i = 0; i < items.length; i++) {
    //                 let div = document.createElement('div');
    //                 div.className = 'tweet';
    //                 div.innerHTML = items[i].content + "<br>Author: " + items[i].username + "<br>Likes: " + items[i].property.likes + "<br>Retweets: " + items[i].retweeted + "<br>Timestamp: " + items[i].timestamp;
    //                 div.style.border = "10px solid blue";
    //                 posts.appendChild(div);
    //             }
    //         }
    //     });
    // });


    $("#deleteTweet").submit((e) => {
        e.preventDefault();
        $.ajax({
            type: 'DELETE',
            url: '/item/' + $("#deleteTweet").serializeArray()[0].value,
            data: $("#deleteTweet").serialize(),
            dataType: 'json',
            success: (response) => {
               console.log(response);
               console.log("DELETED TEWIEJOTWEOITWIEJTIIOJ!!I!IOJ!OJ!IO!JIJOI!J");
            }
        });
    });

    $('#searchBarId').submit((e) => {
        e.preventDefault();
        console.log(e + " inside searchbarID");
        $.ajax({
            url: '/item/' + $('#searchBarId').serializeArray()[0].value,
            type: 'GET',
            success: (response) => {
                let item = response.item;

                console.log(item);
                let posts = document.getElementById("posts");
                while (posts.hasChildNodes()) {
                    posts.removeChild(posts.lastChild);
                }
                let li = document.createElement("li");
                if (!item) {
                    let div = document.createElement('div');
                    div.className = 'tweet';
                    div.style.color = 'red'
                    div.innerHTML = "Tweet not found.";
                    posts.appendChild(div);
                    return;
                }
                let div = document.createElement('div');
                div.className = 'tweet';
                div.innerHTML = item.content + "<br>Author: " + item.username + "<br>Likes: " + item.property.likes + "<br>Retweets: " + item.retweeted + "<br>Timestamp: " + item.timestamp;
                div.style.border = "10px solid blue";
                posts.appendChild(div);
            }
        });
    });



    // $.ajax({
    //     url: "/search",
    //     type: "POST",
    //     success: (response) => {
    //         console.log("Populating page with posts...");
    //         let arr = response.items;
    //         let posts = document.getElementById("posts");
    //         for (let i = 0; i < arr.length; i++) {
    //             let li = document.createElement("li");
    //             li.appendChild(document.createTextNode(arr[i].content + " Author: " + arr[i].username));
    //             li.setAttribute("id", "tweet" + i);
    //             li.setAttribute("class", "tweet");
    //             li.style.border = "1px solid black";
    //             posts.appendChild(li);
    //         }
    //     }
    // });

</script>


<!-- DEBUG CODE - DO NOT UNCOMMENT UNLESS TESTING!!!! -->
<!-- <script>
var sample = ["Life isn’t about getting and having, it’s about giving and being.", "Whatever the mind of man can conceive and believe, it can achieve.", "Strive not to be a success, but rather to be of value.", "Two roads diverged in a wood, and I—I took the one…raveled by, And that has made all the difference.", "I attribute my success to this: I never gave or took any excuse.", "You miss 100% of the shots you don’t take.", "I’ve missed more than 9000 shots in my career. I’v…over again in my life. And that is why I succeed.", "The most difficult thing is the decision to act, the rest is merely tenacity.", "Every strike brings me closer to the next home run.", "Definiteness of purpose is the starting point of all achievement.", "We must balance conspicuous consumption with conscious capitalism.", "Life is what happens to you while you’re busy making other plans.", "We become what we think about.", "14.Twenty years from now you will be more disappoi…e winds in your sails.  Explore, Dream, Discover.", "15.Life is 10% what happens to me and 90% of how I react to it.", "The most common way people give up their power is by thinking they don’t have any.", "The mind is everything. What you think you become.", "The best time to plant a tree was 20 years ago. The second best time is now.", "An unexamined life is not worth living.", "Eighty percent of success is showing up.", "Your time is limited, so don’t waste it living someone else’s life.", "Winning isn’t everything, but wanting to win is.", "I am not a product of my circumstances. I am a product of my decisions.", "Every child is an artist.  The problem is how to remain an artist once he grows up.", "You can never cross the ocean until you have the courage to lose sight of the shore.", "I’ve learned that people will forget what you said… people will never forget how you made them feel.", "Either you run the day, or the day runs you.", "Whether you think you can or you think you can’t, you’re right.", "The two most important days in your life are the day you are born and the day you find out why.", "Whatever you can do, or dream you can, begin it.  Boldness has genius, power and magic in it.", "The best revenge is massive success.", "People often say that motivation doesn’t last. Wel… does bathing.  That’s why we recommend it daily.", "Life shrinks or expands in proportion to one’s courage.", "If you hear a voice within you say “you cannot pai… all means paint and that voice will be silenced.", "There is only one way to avoid criticism: do nothing, say nothing, and be nothing.", "Ask and it will be given to you; search, and you w… find; knock and the door will be opened for you.", "The only person you are destined to become is the person you decide to be.", "Go confidently in the direction of your dreams.  Live the life you have imagined.", "When I stand before God at the end of my life, I w…eft and could say, I used everything you gave me.", "Few things can help an individual more than to pla…y on him, and to let him know that you trust him.", "Certain things catch your eye, but pursue only those that capture the heart.", "Believe you can and you’re halfway there.", "Everything you’ve ever wanted is on the other side of fear.", "We can easily forgive a child who is afraid of the…gedy of life is when men are afraid of the light.", "Teach thy tongue to say, “I do not know,” and thous shalt progress.", "Start where you are. Use what you have.  Do what you can.", "When I was 5 years old, my mother always told me t…ent, and I told them they didn’t understand life.", "Fall seven times and stand up eight.", "When one door of happiness closes, another opens, …e do not see the one that has been opened for us.", "Everything has beauty, but not everyone can see.", "How wonderful it is that nobody need wait a single moment before starting to improve the world.", "When I let go of what I am, I become what I might be.", "Life is not measured by the number of breaths we take, but by the moments that take our breath away.", "Happiness is not something readymade.  It comes from your own actions.", "If you’re offered a seat on a rocket ship, don’t ask what seat! Just get on.", "First, have a definite, clear practical ideal; a g…ethods. Third, adjust all your means to that end.", "If the wind will not serve, take to the oars.", "You can’t fall if you don’t climb.  But there’s no joy in living your whole life on the ground.", "We must believe that we are gifted for something, …t this thing, at whatever cost, must be attained.", "Too many of us are not living our dreams because we are living our fears.", "Challenges are what make life interesting and overcoming them is what makes life meaningful.", "If you want to lift yourself up, lift up someone else.", "I have been impressed with the urgency of doing. K…t apply. Being willing is not enough; we must do.", "Limitations live only in our minds.  But if we use…imaginations, our possibilities become limitless.", "You take your life in your own hands, and what happens? A terrible thing, no one to blame.", "What’s money? A man is a success if he gets up in …at night and in between does what he wants to do.", "I didn’t fail the test. I just found 100 ways to do it wrong.", "In order to succeed, your desire for success should be greater than your fear of failure.", "A person who never made a mistake never tried anything new.", "The person who says it cannot be done should not interrupt the person who is doing it.", "There are no traffic jams along the extra mile.", "It is never too late to be what you might have been.", "You become what you believe.", "I would rather die of passion than of boredom.", "A truly rich man is one whose children run into his arms when his hands are empty.", "It is not what you do for your children, but what …ves, that will make them successful human beings.", "If you want your children to turn out well, spend …e as much time with them, and half as much money.", "Build your own dreams, or someone else will hire you to build theirs.", "The battles that count aren’t the ones for gold me…le battles inside all of us–that’s where it’s at.", "Education costs money.  But then so does ignorance.", "I have learned over the years that when one’s mind is made up, this diminishes fear.", "It does not matter how slowly you go as long as you do not stop.", "If you look at what you have in life, you’ll alway…you don’t have in life, you’ll never have enough.", "Remember that not getting what you want is sometimes a wonderful stroke of luck.", "You can’t use up creativity.  The more you use, the more you have.", "Dream big and dare to fail.", "Our lives begin to end the day we become silent about things that matter.", "Do what you can, where you are, with what you have.", "If you do what you’ve always done, you’ll get what you’ve always gotten.", "Dreaming, after all, is a form of planning.", "It’s your place in the world; it’s your life. Go o…n with it, and make it the life you want to live.", "You may be disappointed if you fail, but you are doomed if you don’t try.", "Remember no one can make you feel inferior without your consent.", "Life is what we make it, always has been, always will be.", "The question isn’t who is going to let me; it’s who is going to stop me.", "When everything seems to be going against you, rem…airplane takes off against the wind, not with it.", "It’s not the years in your life that count. It’s the life in your years.", "Change your thoughts and you change your world.", "Either write something worth reading or do something worth writing.", "Nothing is impossible, the word itself says, “I’m possible!”"];
sample.forEach((x) => {
  $.ajax({
        url:'/additem',
        type: 'POST',
        data: {content: x},
        success: () => {
          console.log("POSTED " + x);
        }
  });
}); -->
</script>

<% include ../partials/footer %>