<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" class="username">
    <input type="text" name="password" placeholder="password" class="password">
    <button type="submit">Login</button>
</form>